<div class="taxi-form-full">
    <a href="/addOrUpdateTicket" class="btn btn-black-bordered"> add new Ticket</a>
    <section id="planes-table" class="text-page">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Manufacture</th>
                    <th>Created year</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item of planesArr;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.model}}</td>
                
                    <td>{{item.manufacturer}}</td>
                    <td>{{item.createdYear}}</td>
                    
                </tr>
            </tbody>
        </table>
    </section>
</div>