<section class="form-taxi-short">
    <div class="container">
        <h4 class="yellow aligncenter">Please login</h4>
        <form class="form-validate" [formGroup]="authForm">
            <div class="menu-types">
            </div>
            <div class="row form-with-labels">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" formControlName="login" name="login" value="" placeholder="login" class="ajaxField required"
                            required><span class="fa fa-map-marker"></span>
                    </div>
                </div>
            </div>
            <div class="row form-with-labels">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="password" formControlName="password" name="password" value="" placeholder="password" class="ajaxField required"
                            required><span class="fa fa-phone"></span>
                    </div>
                </div>
            </div>
            <h5 id="incorrectLoginText" style="display: none;"> Login or password is incorrect</h5>
            <input type="submit" (click)="auth()" value="Login" class="btn btn-lg btn-black btn-white aligncenter">
            <input type="hidden" id="type" name="type" value="2" class="ajaxField">
            <button [routerLink]="['/register']" routerLinkActive="router-link-active"
                class="btn btn-lg btn-black">Don't have account? Register</button>
        </form>
    </div>
</section>