<div class="container content">
    <div class="get-icon">
        <h4>Get flight Now</h4>
        <div class="phone">800-5-800</div>
    </div>
    <div id="large-image">
        <img style="max-width: 80%;" src="assets/images/airbus.png" class="car" alt="Taxi">
    </div>
</div>
<div class="taxi-form-full">
    <div class="container">
       
    </div>
</div>

<section id="services">
    <div class="container">
        <h4 class="yellow">Welcome</h4>
        <h2 class="h1">Our Services</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
                <div class="image"><img src="assets/images/_services-1.png" alt="Service"></div>
                <h5>Rapid city transfer</h5>
                <p>We will bring you quickly and comfortably to anywhere in your city</p>
            </div>
            <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
                <div class="image"><img src="assets/images/_services-2.png" alt="Service"></div>
                <h5>Booking a hotel</h5>
                <p>If you need a comfortable hotel, our operators will book it for you, and take a taxi to the address
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
                <div class="image"><img src="assets/images/_services-3.png" alt="Service"></div>
                <h5>Airport transfer</h5>
                <p>We will bring you quickly and comfortably to anywhere in your city</p>
            </div>
            <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
                <div class="image"><img src="assets/images/_services-4.png" alt="Service"></div>
                <h5>Baggage transport</h5>
                <p>If you need a comfortable hotel, our operators will book it for you, and take a taxi to the address
                </p>
            </div>
        </div>
    </div>
</section>
<section id="tariffs">
    <div class="container">
        <h4 class="yellow">See Our</h4>
        <h2 class="h1">Buy tickets</h2>
        <div class="row">

            <div class="col-md-3 col-sm-6"  *ngFor="let item of flightsArr;let i = index">
                <div class="item matchHeight">
                    <div class="image"><img src="assets/images/plane-2.png" class="full-width" alt="Tariff"></div>
                    <h4>From:{{item.fromCity}} </h4>
                    <p>To: {{item.arrivivalCity}}</p>
                    <p>Date:{{item.time}} </p>

                    <div class="price">{{item.cost}}</div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<section id="car-block">
    <div class="car-right animation-block"><img src="assets/images/plane-2.png" alt="Car"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4 class="yellow">For Drivers</h4>
                <h2 class="h1">Do You Want To Earn With Us?</h2>
            </div>
            <div class="col-md-6">
                <p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur
                    dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris. </p>

                <ul class="check two-col strong">
                    <li>Luxury cars</li>
                    <li>No fee</li>
                    <li>Weekly payment</li>
                    <li>Fixed price</li>
                    <li>Good application</li>
                    <li>Stable orders</li>
                </ul>

                <a href="#" class="btn btn-yellow btn-lg btn-white">Become a Driver</a>
            </div>
        </div>
    </div>
</section>