<div class="container content">
    <div class="get-icon">
        <h4>Get Taxi Now</h4>
        <div class="phone">800-5-800</div>
    </div>
    <div id="large-image">
        <img style="max-width: 80%;" src="assets/images/airbus.png" class="car" alt="Taxi">
    </div>
</div>
<div class="taxi-form-full">
    <div class="container">
        <form class="form-validate" [formGroup]="findPlaneForm" id="buyTicketForm">
            <div class="menu-types">
                
                <input type="hidden" id="type-value" name="type-value" class="type-value" value="1">
            </div>
            <div class="row forms">
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" id="from" name="from" value="" placeholder="From Address..."
                            class="ajaxField"><span class="fa fa-map-marker"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" id="to" name="to" value="" placeholder="To..." class="ajaxField"><span
                            class="fa fa-map-marker"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" id="phone" name="phone" value="" placeholder="Phone Number"
                            class="ajaxField required"><span class="fa fa-phone"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" id="text" name="text" value="" placeholder="Date and Time"
                            class="ajaxField"><span class="fa fa-calendar"></span>
                    </div>
                </div>
            </div>
            <input type="submit" value="Get ticket" class="btn btn-lg btn-red aligncenter">
            <input type="hidden" id="type" name="type" value="2" class="ajaxField">
        </form>
    </div>
</div>

<section id="services">
    <div class="container">
        <h4 class="yellow">Welcome</h4>
        <h2 class="h1">Our Services</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
                <div class="image"><img src="assets/images/_services-1.png" alt="Service"></div>
                <h5>Rapid city transfer</h5>
                <p>We will bring you quickly and comfortably to anywhere in your city</p>
            </div>
            <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
                <div class="image"><img src="assets/images/_services-2.png" alt="Service"></div>
                <h5>Booking a hotel</h5>
                <p>If you need a comfortable hotel, our operators will book it for you, and take a taxi to the address
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
                <div class="image"><img src="assets/images/_services-3.png" alt="Service"></div>
                <h5>Airport transfer</h5>
                <p>We will bring you quickly and comfortably to anywhere in your city</p>
            </div>
            <div class="col-md-3 col-sm-6 col-ms-6 matchHeight">
                <div class="image"><img src="assets/images/_services-4.png" alt="Service"></div>
                <h5>Baggage transport</h5>
                <p>If you need a comfortable hotel, our operators will book it for you, and take a taxi to the address
                </p>
            </div>
        </div>
    </div>
</section>
<section id="tariffs">
    <div class="container">
        <h4 class="yellow">See Our</h4>
        <h2 class="h1">Tariffs</h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="item matchHeight">
                    <div class="image"><img src="assets/images/_tariff-1.png" class="full-width" alt="Tariff"></div>
                    <h4>Standart</h4>
                    <p>Standard sedan for a drive around the city at your service</p>
                    <div class="price">$2<span>/km</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item matchHeight">
                    <div class="image"><img src="assets/images/_tariff-2.png" class="full-width" alt="Tariff"></div>
                    <h4>Business</h4>
                    <p>Standard sedan for a drive around the city at your service</p>
                    <div class="price">$2,7<span>/km</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item matchHeight vip">
                    <div class="image"><img src="assets/images/_tariff-3.png" class="full-width" alt="Tariff"></div>
                    <h4 class="red">Vip</h4>
                    <p>Standard sedan for a drive around the city at your service</p>
                    <div class="price">$5<span>/km</span></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item matchHeight">
                    <div class="image"><img src="assets/images/_tariff-4.png" class="full-width" alt="Tariff"></div>
                    <h4>Bus-minivan</h4>
                    <p>Standard sedan for a drive around the city at your service</p>
                    <div class="price">$4,5<span>/km</span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="planes-table" class="text-page">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Sample Text 1</td>
                <td>Sample Text 1</td>
                <td>Sample Text 1</td>
                <td>Sample Text 1</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Sample Text 2</td>
                <td>Sample Text 2</td>
                <td>Sample Text 2</td>
                <td>Sample Text 2</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Sample Text 3</td>
                <td>Sample Text 3</td>
                <td>Sample Text 3</td>
                <td>Sample Text 3</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Sample Text 4</td>
                <td>Sample Text 4</td>
                <td>Sample Text 4</td>
                <td>Sample Text 4</td>
            </tr>
        </tbody>
    </table>
</section>

<section id="car-block">
    <div class="car-right animation-block"><img src="assets/images/plane-2.png" alt="Car"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4 class="yellow">For Drivers</h4>
                <h2 class="h1">Do You Want To Earn With Us?</h2>
            </div>
            <div class="col-md-6">
                <p>Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur
                    dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris. </p>

                <ul class="check two-col strong">
                    <li>Luxury cars</li>
                    <li>No fee</li>
                    <li>Weekly payment</li>
                    <li>Fixed price</li>
                    <li>Good application</li>
                    <li>Stable orders</li>
                </ul>

                <a href="#" class="btn btn-yellow btn-lg btn-white">Become a Driver</a>
            </div>
        </div>
    </div>
</section>